body {
  margin: 0;
  font-family: Inter, Segoe UI, Arial, sans-serif;
}

.grid-bg {
  background-image: linear-gradient(rgba(44, 78, 146, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(44, 78, 146, 0.2) 1px, transparent 1px);
  background-size: 28px 28px;
}
